/* Asterisk wildcard selector to override default browser styles*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header {
    background-color: lightcoral;
}

main {
    background-color: blue;
}

footer {
    background-color: orange;
}